#arrow1-container{
    transition: .3s ease-in-out;
}
#arrow1-container:hover{
    scale: 1.05;
}
#arrow1-container rect,
#arrow1-container path{
    transition: .3s ease-in-out;
    animation: 4s infinite drawArrow1;
}
@keyframes drawArrow1 {
    0%{
        width: 0;
    }
    50%{
        fill: white;
        width: 110%;
    }
    100%{
        fill: transparent;
        width: 110%;
      
    }
}
#main-arrow-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 85px;
    border: 2px solid white;
    border-radius: 30px;
}
#main-arrow-container .first,
#main-arrow-container .second,
#main-arrow-container .third{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    border-width: 0 2px 2px  0;
}
#main-arrow-container .first{
    top: 5px;
    animation: 2s 0s infinite linear alternate arow-amination;
}
#main-arrow-container .second{
    border-color: #e1e8ea;
    top: 25px;
    animation: 2s .5s infinite linear alternate arow-amination;
}
#main-arrow-container .third{
    border-color: #e1e8ea;
    top: 45px;
    animation: 2s 1s infinite linear alternate arow-amination;
}
@keyframes arow-amination {
    0%,20%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    80%,100%{
        opacity: 0;
    }
}